body {
  margin: 10px;
  background-color: gainsboro;
}
.container {
  margin: 0 auto;
  background-color: azure;
  border: 2px solid gainsboro;
  border-radius: 5px;
  padding: 20px;
}

.info {
  &__size{
    &::after {
      content: " Default size";
    }
  }
  &__media {
    &::after {
      content: " Default media";
    }
  }
}
