@media only print {
  .info__device::after {
    content: " Принтер";
  }
}
@media only screen  {
  .info__device::after {
    content: " Экран";
  }
}
@media (orientation: portrait) {
  .info__orient::after {
    content: " Portrait";
  }
}
@media (orientation: landscape) {
  .info__orient::after {
    content: " Landscape";
  }
}

