/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* iPad 3**********/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen and (min-width: 1224px) {
  .info__size::after {
    content: " Smartphones (вертикальная и горизонтальная ориентация";
  }
}

/* Большие экраны ----------- */
@media only screen and (min-width: 1824px) {
  .info__size::after {
    content: " Большие экраны";
  }
}

/* iPhone 4 ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone 4";
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone 4";
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone 5 l";
  }
}

@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone 5 p";
  }
}

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone 6 l";
  }
}

@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone iPhone 6 p";
  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone 6+ l";
  }
}

@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " iPhone 6+ p";
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " Samsung Galaxy S3 landscape";
  }
}

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .info__size::after {
    content: " Samsung Galaxy S3 portrait";
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .info__size::after {
    content: " Samsung Galaxy S4 landscape";
  }
}

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .info__size::after {
    content: " Samsung Galaxy S4 portrait";
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .info__size::after {
    content: "  Samsung Galaxy S landscape";
  }
}

@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .info__size::after {
    content: "  Samsung Galaxy S portrait";
  }
}
