﻿extends layouts/main
block variables
    - pageTitle="Example media queries page"
block styles
    +link("/styles/all.css",'all')
    +link("/styles/print.css",'print')
    +link("/styles/size.css",'all')
    +link("/styles/device.css",'all')
block body
    .container
        .content
            h2 Медиа информация
            .info
                h3.info__size Размер єкрана:
                h3.info__device Устройство вывода:
                h3.info__orient Ориентация:
